@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
    --primary-color: white;
    --secondary-color: rgb(61,68,73);
    --highlight-color: #3282b8;

    --dt-status-active-color: greenyellow;
    --dt-status-inactive-color: rgb(192, 45, 65);

    --dt-padding: 12px;;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-button-event-color: rgb(172, 22, 159);
    --dt-button-delete-color: rgb(206, 43, 43);
    --dt-button-update-color: rgb(173, 175, 36);

    --dt-background-color-container: #2a3338;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.material-icons {
    font-size: 18px;
}
.datatable-container {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 75%;
    margin: 0 auto;
    font-size: 1rem;
}

.button {
    color: var(--dt-text-color-button);
    width: 45%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
    display: inline-block;
    padding: var(--dt-padding-s) var(--dt-padding);
}


.button-delete:hover{
    background: var(--dt-button-delete-color);
    color: var(--dt-text-color-active-button)
}

.button-update:hover{
    background:var(--dt-button-update-color);
    color: var(--dt-text-color-active-button)
}

.button-event{
    width: 100%;
}

.button-event:hover{
    background: var(--dt-button-event-color);
    color: var(--dt-text-color-active-button);
    width: 100%;
}

.datatable {
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
    text-align: center;
}

.datatable-container .datatable th{
    font-weight: bolder;
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover {
    background-color:  var(--dt-hover-cell-color);
}

.datatable-container .datatable tbody tr .active::after,
.datatable-container .datatable tbody tr .inactive::after{
    display: inline-block;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .active::after{
    content: 'Active';
    color: var(--dt-status-active-color);
}

.datatable-container .datatable tbody tr .inactive::after{
    content:  'Inactive';
    color: var(--dt-status-inactive-color);
}


.datatable-container .datatable tbody tr .active::before,
.datatable-container .datatable tbody tr .inactive::before{
    content: '';
    display: inline-block;
    width:  10px;
    height:  10px;
    margin-right:  10px;
    border-radius:  50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .active::before{
    background-color: var(--dt-status-active-color);
}

.datatable-container .datatable tbody tr .inactive::before{
    background-color: var(--dt-status-inactive-color);
}
